

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="LoginTests">
    <listeners>
        <listener class-name="BrowsersAndListeners.CustomListener"/>
    </listeners>
    <test name="LoginTests">
        <classes>
            <class name="LoginTests"/>
        </classes>
    </test>
</suite>