

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="HomePageTests.LoginTests">
    <listeners>
        <listener class-name="BrowsersAndListeners.RetryListenerClass"/>
        <listener class-name="BrowsersAndListeners.CustomListener"/>
    </listeners>
    <test name="HomePageTests.LoginTests">
        <classes>
            <class name="HomePageTests.LoginTests"/>
            <class name="HomePageTests.LanguageTests"/>
            <class name="PersonalAccountTests.FavoriteShopsTests"/>
            <class name="SearchTests.SearchFieldTests"/>
        </classes>
    </test>
</suite>